.test {
    background-color: red;
}

.text-1 {
    color: white;
}

.test2 {
    display: flex;
    justify-content: flex-end;
}

.image1 {
    border-radius:  50%;
}

.test3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20rem;
}

.container {
    height: 25rem;
}

.height1 {
    height: 20rem;
}

.decal1 {
    align-items: center;
}