.divprin {
    height: 20rem;
}
.div-content {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.div-content-2 {
    margin-right: 4rem;
}

.image {
    border-radius: 50%;
}
.text {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
}

.start {
    display: flex;
    justify-content: flex-end;
}